<div class="main-body">
  <nav>
    <ul>
      <li><a [routerLink]="['/contact']">Contact</a></li>
      <li><a [routerLink]="['/order']">Order</a></li>
    </ul>
  </nav>
  <h1>Order Form</h1>
  <div>Email: <input type="text"  [(ngModel)]="order.email"/></div>
  <h2>Pizza Price List</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pizza of pizzas">
        <td>{{pizza.name}}</td>
        <td>{{pizza.price}}</td>
      </tr>
    </tbody>
  </table>
  <ul>
    <order-item *ngFor="let orderItem of order.orderItems" [orderItem]="orderItem" (orderAmountChanged)="orderItemChanged($event)"></order-item>
  </ul>
  <div><strong>Total: {{order.orderTotal}}</strong></div>
  <button type="submit" (click)="submitOrder()">Place Order</button>

  <router-outlet></router-outlet>
</div>
